.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: #000;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 14px;
}
.nav-area li a:hover{
    background: #228B22;
    color: #333;
}
.welcome{
    position: absolute;
    width: 600px;
    height: 300px;
}
.welcome h1{
    margin-left: 850px;
    margin-bottom: 200px;
    color: #228B22;
    text-transform: uppercase;
    font-size: 60px;
}
